.seesaw-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: -75px;
}
.base {
    background: saddlebrown;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}